{% extends "layout.html" %}

{% block function %}Classify Data{% endblock %}

{% block classify %} class="active" {% endblock %}
<!-- Classify Algorithm -->

{% block heading %}
	<h1>Classify Data</h1>
{% endblock %}

{% block description %} 
	<p>click below button to apply oneR algorithm for data classification</p>
{% endblock %}

{% block algo %}
<div class="col-md-6">

<form>
	{% csrf_token %}
	<input class="btn btn-primary" type="submit" value="Classify">
</form>

</div>
{% endblock %}
