{% extends "layout.html" %}
{% block function %}Display Data{% endblock %}

{% block display %} class="active" {% endblock %}

{% block heading %}
	<h1>Table view of data</h1>
{% endblock %}

{% block description %}

{% if not alert %}
<p>Click <a href="{% url 'csv' %}" target="_blank">here.</a> to download the data.</p>
 {% endif %}
{% endblock %}

{% block algo %}

    {% if alert %}

    <div class="row alert alert-warning" role="alert" style="width:250px">
        <h5>
				<span class="glyphicon glyphicon-alert"></span> <b>Alert! :</b>
				 {{ alert }}
		</h5>
    </div>
    {% endif %}
	<table class="table table-bordered table-hover table-condensed table-responsive">
		<tr>
		{% for item in heading %}
			<th> {{ item }}</th>
		{% endfor %}
		</tr>
		{% for row in data %}
		<tr>
			{% for col in row %}
				<td> {{ col }} </td>
			{% endfor%}
		</tr>
		{% endfor %}	
	</table>

<!-- /algo -->
{% endblock %}
