{% load staticfiles %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
	<div class="row">
		<div class=" navbar-header">
			<a class="navbar-brand" href="/">
			<img id="brand-logo"
				src="{% static 'images/icon.png' %}"
				alt="Smart Miner Logo">SmartMiner</a>
		</div>
		<div class="pull-right">
			<ul class="nav navbar-nav">
			{% if not user.is_authenticated %}			
				<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>				
			{% else %}
				<li><a href="#">Hi! <b>{{ user.first_name }} {{ user.last_name }}</b></a></li>
				{% if user.is_superuser%}
					<li><a href="/admin/">admin</a></li>					
				{% endif %}
				<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			{% endif %}
			</ul>
		</div>
		</div>
	</div>
</nav>

