{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block title %} {{block.super }} | Login {% endblock%}


{% block content %}

<div id='form' class="row col-sm-4 col-offset-4">
	<div class="row">
		<form method="POST" action="">
			{% csrf_token %}			
			<fieldset>
			<legend>Smart Miner Login</legend>
			{{ form|crispy }} 
			</fieldset>
			
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-log-in"></span> Login</button>

		</form>
	</div>


	{% if error %}
	<div class="row">
		<div id="login_error" class="bg-danger">
			<h5>
				<span class="glyphicon glyphicon-remove-circle"></span> {{ error }}
			</h5>
		</div>
	</div>
	<!-- /enderro -->
	{% endif %}
</div>


<!-- /content -->
{% endblock %}
