<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Smart Miner | layout</title>



<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<link href="/static/images/icon.png" rel="shortcut icon">
</head>


<body>


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="row">
				<div class=" navbar-header">
					<a class="navbar-brand" href="/"> <img id="brand-logo"
						src="/static/images/icon.png" alt="Smart Miner Logo">SmartMiner
					</a>
				</div>
				<div class="pull-right">
					<ul class="nav navbar-nav">

						<li><a href="#">Hi! <b>Zubair Akram</b></a></li>
						<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>
								Logout</a></li>

					</ul>
				</div>
			</div>
		</div>
	</nav>


	<div class="container-fluid">
		<div id="main_body" class="row">


			<div class="col-sm-3 col-md-2">
				<ul class="nav nav-pills nav-stacked ">
					<li><a href="/upload/"> Upload Data</a></li>
					<li><a href="/classify/">Classify Data</a></li>
					<li><a href="/missing/">Missing Value</a></li>
					<li><a href="/noise/">Remove Noise</a></li>
					<li class="active"><a href="/report/">Generate Report</a></li>
				</ul>
			</div>
			<!--/s-->
			<div class="col-sm-9 col-md-10">report description report algorithm</div>
			<!--/algoarea-->



		</div>
		<!-- /main_body -->

		<div id="footer" class="row">
			<div class="col-lg-12">

				<span class="glyphicon glyphicon-earphone"></span> +923346300772
			</div>
			<div class="col-lg-12">
				<a href="mailto:zubair616@gmail.com"><span
					class="glyphicon glyphicon-envelope"></span> zubair616@gmail.com</a> | <a
					href="mailto:mc140200017@vu.edu.pk">mc140200017@vu.edu.pk</a>

			</div>
			<div class="col-lg-12">
				<a href="https://github.com/zubairakram/final_project"
					title="get source code at github"> <span
					class="glyphicon glyphicon-cloud"></span> git-hub code
				</a>
			</div>
		</div>
		<!-- /footer -->
	</div>
	<!-- /container -->

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/main.js"></script>

</body>

</html>