{% extends "layout.html" %} 
{% load crispy_forms_tags %}
{% block function %}Upload Data{% endblock %}

{% block upload %} class="active" {% endblock %}



{% block description %} 

<h1>Uploader</h1>
<p>Please choose file from your computer to upload data in the database.</p>
<p>Note: file format should be CSV</p>

{% endblock %}
<!-- /description -->

{% block algo %} 
<div id='form' class="col-md-6">
    <div id='form_fieldset' class="row">
        <form method="POST" action="{% url 'upload' %}">
            {% csrf_token %}
            <fieldset>
                <legend>Upload Data</legend>
                {{ form|crispy }}
            </fieldset>

            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-upload"></span> <b>Upload</b>
            </button>
        </form>
    </div>


    {% if error %}

    <div id="error" class="row alert alert-danger" role="alert">
        <h5>
				<span class="glyphicon glyphicon-remove-circle"></span> <b>Alert!:</b>
				 {{ error }}
			</h5>
    </div>

    {% endif %}
    <!-- /error condition -->

</div>
<!-- /form -->

{% endblock %}
<!-- /algo -->