{% extends "layout.html" %} 
{% load crispy_forms_tags %}
{% block function %}Upload Data{% endblock %}

{% block upload %} class="active" {% endblock %}

{% block heading %}
<h1>Uploader</h1>
{% endblock%}

{% block description %}

<p>Please choose file from your computer to upload data for processing.</p>
<p>Note: file format should be CSV</p>

{% endblock %}
<!-- /description -->
{% block algo %} 
<div class="col-md-6">
	<div id='form_fieldset' class="row" style="margin-bottom: 20px;">
	       <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
	           {% csrf_token %}
	               {{ form|crispy }}
	           <button class="btn btn-primary" type="submit">
	               <span class="glyphicon glyphicon-upload"></span> <b>Upload</b>
	           </button>
	       </form>
	   </div>
	
	
	   {% if error %}
	
	   <div class="row alert alert-danger" role="alert">
	       <h5>
				<span class="glyphicon glyphicon-remove-circle"></span> <b>Error! :</b>
				 {{ error }}
			</h5>
	   </div>
	    {% elif success %}
		<div class="row alert alert-success" role="alert">
	       <h5>
				<span class="glyphicon glyphicon-ok"></span> <b>Success! :</b>
				 {{ success }}
			</h5>
		</div>
		<p>Click <a href="{% url 'display' %}">Here</a> to see the uploaded data.</p>
	    {% endif %}
	   <!-- /error condition -->

</div>
{% endblock %}
<!-- /blockalgo -->