body {
    background-color: cadetblue;
}

.container-fluid {
    background-color: white;
}

#main_body {
    padding: 20px;
}

#brand-logo {
    float: left;
    height: 20px;
    margin: 0 10px 0px 10px;
}

#footer {
    color: white;
    background-color: teal;
    padding: 10px;
}

.navbar-header a {
    font-size: 2em;
}

#footer div,
#footer a {
    color: white;
    padding: 5px 0 5px 0;
}

form {
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px whitesmoke inset;
}

#error {
    margin-top: 10px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.active a {
    cursor: default;
}

