body {
    background-color: cadetblue;
}

.container-fluid {
    background-color: white;
}

#main_body {
    padding: 20px;
}

#intro img {
    float: left;
    margin-right: 10px;
    height: 40px;
}

#footer {
    color: white;
    background-color: black;
    padding: 10px;
}

#footer div,
#footer a {
    color: white;
    padding: 5px 0 5px 0;
}

form {
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px whitesmoke inset;
}

#error {
    margin-top: 10px;
}