/* this is the custom stylesheet */

body {
    background-color: cadetblue;
}

.container {
    background-color: white;
}

#main_body {
    margin-top: 20px;
    padding: 20px;
    height: 527px;
}

#form {
    padding: 30px;
    border: lightgray solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px whitesmoke inset;
}

#form legend {
    font-size: 2.5em;
}

#login_error {
    margin-top: 20px;
    padding-left: 10px;
    color: maroon;
    border-radius: 5px;
}

#intro img {
    float: left;
    margin-right: 10px;
    height: 40px;
}


/* footer styles */

#footer {
    color: white;
    background-color: black;
    padding: 10px;
}

#footer div {
    padding: 5px;
}

#footer a {
    color: white;
    text-decoration: none;
}